fase5/RR/sedici.xsd

<?xml version="1.0" encoding="ASCII"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="title" type="xsd:string" />
        <xsd:element name="id" type="xsd:int" />
        <xsd:element name="tipo" type="xsd:string" />
        <xsd:element name="metadatos">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="id" type="xsd:int" />
              <xsd:element name="valor" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
